@font-face{
    font-family: 'speck';
    src: url(./font/Speck-Display.otf);
    font-weight: bolder;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.story{
    background-color:rgb(249, 242, 216);
    padding: 130px 0 150px 0;
    display: flex;
    justify-content: center;
align-items: center;
}
.story-txt{
    width: 44%;
    padding-right: 50px;
}
.story-txt>h1{
    font-family: 'speck';
    font-size: 30px;
    text-align: center;
}
.story-txt>p{
    font-size: 0.97rem;
    font-family: 'NanumBarunGothic';
text-align: center;
    word-break: keep-all;
    padding: 20px 0 0 0;
}
.story-txt>p>a{
    color: #000;
    transition: 0.2s ease-in-out;
}
.story-txt>p>a:hover{
    color: rgb(238, 67, 67);
}
.story-txt>p>a>.feather{
    width: 25px;
    height: auto;
}
.story-img{
    width: 45%;
    height: 400px;
    /* background-color: #ffffff; */
    overflow: hidden;
}
.story-img>img{
    width: 100%;
    height: auto;
    object-fit: cover;

}
.into{
    position: relative;
    background-color:rgb(249, 242, 216);
    padding-bottom: 230px;
}
.into-img{
    margin: 0 auto;
    width: 550px;
    height: 480px;
    overflow: hidden;
}
.into-img>img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    position: absolute;
    top: 30px;
    left: 180px;
    margin-left: .6rem;
}
.text::after {
    content: '';
    margin-left: .4rem;
    border-right: 2px solid #777;
    animation: cursor .9s infinite steps(2);
  }
  
  @keyframes cursor {
    from { border-right: 2px solid #222; }
    to { border-right: 2px solid #777; }
  }

.text2{
    position: absolute;
    bottom: 250px;
    right: 230px;
}
.text2{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
      }
footer{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #787878;
    padding: 17px 30px;
  
}
footer>span,.call>span{
    color: #454545;;
    font-size: 0.7rem;
    font-family: 'NanumBarunGothic';
}