@font-face{
    font-family: 'object';
    src: url(./font/object\ sans\ font.ttf);
}

@font-face{
    font-family: 'speck';
    src: url(./font/Speck-Display.otf);
    font-weight: bolder;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgb(249, 242, 216);
    z-index: 1;
}
.logo>a{
    display: inline-block;
    text-decoration: none;
    padding:5px 0 30px 0;
    width: 100%;
    color: #000;
    font-family: 'speck';
    font-size: 1.6rem ;
    text-align: center;
}
.menu{
    padding: 0 0 30px 0 ;
}
.menu>ul{
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}
.menu>ul>li{ 
   width: 120px;
   text-align: center;
    list-style-type: none;
     padding: 0 30px;
}
.burger-input:checked ~ nav {
    display: block;
  }
  .burger-input:checked ~ nav li {
    display: block;
    text-align: center;
  }
  nav {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: rgb(249, 242, 216);

  }
  .burger-input {
      top: 0;
      opacity: 0;
      width: 100px;
      height: 40px;
      margin: 0 auto;
      cursor: pointer;
      position: absolute;
    }
.menu>ul>li>a{
    text-decoration: none;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 0.8rem;
    color: #301b00;
}
.burger{
    text-decoration: none;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 0.8rem;
    color: #301b00;
}
.burger>a{
    display: block;
}
.sub{
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub>li{
    padding:15px 30px;
    transition: 0.4s ease-in-out;
}
.sub>li>a{
    display: inline-block;
    font-family: 'NanumSquareNeo-Variable';
    text-decoration: none;
    color: #222;
    font-size: 0.7rem;
}
.sub>li:hover{
    background-color: rgb(161, 152, 117);
}
.sub>li:hover>a{
    color: rgb(249, 242, 216);
}